<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/login.css" />        
        <title>Login Page</title>
    </head>
    <header>
        <h2>Welcome Back!</h2>
    </header>
    <body>
        <div class="form">
            <form action="/login" method="POST" autocomplete="off">
                <h1>
                    LOGIN:
                </h1>
                <span>Email:</span>
                <input type="email" name="email" required ><br/>
                <span>Password:</span>
                <input type="password" name="password"required/><br/>
                <p>
                </p>
                <button type="submit">LOGIN</button>
                <p>
                </p>
                <a class="btn btn-primary" href="/register" role="button">Create Account</a>
            </form>
        </div>
        
    </body>
</html>